:root {
  --main-soft-red: hsl(0, 94%, 66%);
  --white: #ffffff;
  --grayish-blue: hsl(229, 8%, 60%);
  --vary-dark-blue: hsl(229, 31%, 21%);
  --soft-blue: hsl(231, 69%, 60%);
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
}

body {
  width: 78%;
  margin: 2.5rem auto;
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--grayish-blue);
}

button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login {
  background-color: var(--main-soft-red);
  color: var(--white);
  padding: 0.8rem 2.2rem;
  border-radius: 5px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-grow: 0.25;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-menu li {
  letter-spacing: 0.1rem;
}

.blue-button {
  color: var(--white);
  background-color: var(--soft-blue);
}
