:root {
  --main-soft-red: hsl(0, 94%, 66%);
  --white: #ffffff;
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --soft-blue: hsl(231, 69%, 60%);
  --light-grey: #eff0f5;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1.125rem;
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--grayish-blue);
}

button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  border: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin: 2.5rem auto;
}

#login {
  background-color: var(--main-soft-red);
  color: var(--white);
  padding: 0.8rem 2.2rem;
  border-radius: 5px;
}

#hero {
  display: flex;
  margin: 6rem 2.5rem 3rem 9.6rem;
  position: relative;
}

#hero-text {
  width: 85%;
  line-height: 1.8rem;
}

#hero-button {
  margin-left: 0.8rem;
}

#logo-bookmark-hero {
  background: url(./images/logo-bookmark.svg);
  border: 2px solid var(--soft-blue);
  border-radius: 10rem;
  width: 1000px;
  height: 345px;
  position: absolute;
  left: calc(100% - 455px);
  z-index: -99;
  bottom: -20px;
  background-repeat: no-repeat;
  background-size: 10000px 1000px;
  background-position: -100px -100px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-grow: 0.25;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-menu li {
  letter-spacing: 0.1rem;
}

.blue-button {
  color: var(--white);
  background-color: var(--soft-blue);
}

.grey-button {
  box-shadow: 0px 7px 9px -2px rgba(141, 143, 153, 0.34);
  color: var(--very-dark-blue);
  font-weight: bold;
  background-color: var(--light-grey);
}
